/laborator1/target/
/laborator2/target/
/laborator3/target/
/laborator3/laborator3-part1/target/
/laborator3/laborator3-part2/target/
/laborator3/laborator3-part3/target/
/proiect-final/cur5-ssatr-ia-parking/cur5-ssatr-ia-parking/target/
/proiect-final/cur5-ssatr-ia-parking/target/
/test2/target/
/barcute/target/
